# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
*.mo
*.pot
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.ruff_cache/
uv.lock

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.cache
package-lock.json

# Dart/Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/
bin/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Kotlin/Gradle
build/
.gradle/
.kotlin/
gradle-app.setting
!.gradle
!**/src/main/**/build/
!**/src/test/**/build/
*.log
server.log
personas.db
.idea/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Bases de datos
*.db
*.sqlite
*.sqlite3